# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

#scapi build
install/*
build/*
compile-miracl
compile-otextension
compile-miracl-cpp
compile-scgarbledcircuit
compile-ntl
test/config_for_test.txt

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.suo
*.opensdf
*.sdf
*.idb
*.log
*.pdb
*.tlog
*.lastbuildstate
*unsuccessfulbuild
*.ipch
*.ilk
*.iobj
*.opendb
*.ipdb
windows-solutions/scapi-sln/x64/Release/*
windows-solutions/scapi-sln/ScapiCpp.vcxproj.filters.orig
samples/assets/circuits/DNA/start_small.txt
samples/assets/circuits/DNA/start_small_counter.txt
samples/assets/circuits/DNA/start_small_counter_party1_input.txt
samples/assets/circuits/DNA/start_small_counter_party2_input.txt
samples/assets/circuits/DNA/start_small_party1_input.txt
samples/assets/circuits/DNA/start_small_party2_input.txt
windows-solutions/scapi-sln/ScapiCpp.VC.db
