# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

#scapi build
install/*
build/*
compile-miracl
compile-otextension
compile-miracl-cpp
compile-scgarbledcircuit
compile-otextension-bristol
compile-otextension-malicious
compile-ntl
compile-otextension-malicious
compile-blake
test/config_for_test.txt
.cproject
.project

# Fortran module files
*.mod
.idea/

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.suo
*.opensdf
*.sdf
*.idb
*.log
*.pdb
*.tlog
*.lastbuildstate
*unsuccessfulbuild
*.ipch
*.ilk
*.iobj
*.opendb
*.ipdb
config_for_test.txt
*.VC.db
*~
samples/libscapi_examples
samples/libscapi_example
CMakeLists.txt
windows-solutions/CodeExamples/code examples.vcxproj.user.orig
protocols/MaliciousYao/lib/data/P1/*
protocols/MaliciousYao/lib/data/P2/*
callgrind.*

